.cover {
  width: 350px;
  height: 500px;
  background-color: #b6b5b5;
  text-align: center;
  margin: 10px;
  padding: 10px;

  /* finish your styling of the cover div here! */
}
#title {
  margin-top: 5px;
  font-size: 350%;
  font-family: 'Source Code Pro', monospace;
}

#subtitle {
  color: turquoise;
  text-align: right;
  opacity: 0.8;
  margin-right: 20px;
  font-size:100%
}

#cover_image {
  width: 80%;
  height: 32%;
  margin-top: 20px;
  border-radius: 30px;
}
